.filterFlex {
    display: flex;
    flex-direction: column;
}

.labelText {
    width: 300px;
    font-size: 15px;
    margin: 0;
}
.inputStyles {
    width: 150px;
    margin-top: 5px;
    margin-bottom: 20px;
}